.about-content-container {
  background: $color_theme_green_gradient;
  color: WHITESMOKE; /// for text color

  .intro-title {
    margin: 0;

    @include desktop {
      display: none;
    }
  }
}

.wp-image-229 {
  @include desktop {
    display: none;
  }
}

.intro-title {
  @include desktop {
    display: none;
  }
}
.avr-main {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .inner-nav {
    width: 95%;
    -ms-flex-align: center;
    align-items: center;
    order: 0;

    border-radius: 30px;
    height: 13vw;
    @include submenu-avr;

    @include desktop {
      text-align: -webkit-center;
      margin-bottom: 50px;
      margin-top: 0;
    }
    .inner-nav-container {
      margin: 0;
      border-radius: 9.4vw;
      background: linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0.15),
        hsla(0, 0%, 100%, 0.15) 100%,
        hsla(0, 0%, 100%, 0.4)
      );

      @include desktop {
        width: 45%;
        order: 0;
        margin-top: 10vw;
      }
    }

    p {
      color: white;
    }
    ul {
      align-items: center;
      height: 100%;
      // margin: 0 10px;
      // margin-right: 10px;
      // margin-left: 10px;
      // padding: 0 15px 0 15px;
      padding: 0;
    }
  }
}

.about-content {
  margin-top: 50px;
  padding: 0 20px 0 20px;
  position: relative;
  padding-bottom: 50px;

  @include desktop {
    padding: 0 120px;
    line-height: 1;
    font-size: 16px;
    margin-top: 0px;
    display: flex;
  }

  // @include desktop {
  //   padding: 0;
  // }
}

p.section-tag {
  margin: 0;
  font-size: 22px;

  @include desktop {
    margin: 1rem;
  }
}

/////// CLASSES PAGE
.services-provided {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;

  @include desktop {
    grid-template-columns: auto auto auto;
  }
}

.service-icon-desktop {
  @include desktop {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}

.haha123 {
  position: absolute;
  top: 0;
  left: 0;
}

//////
.kitchen_first_picture {
  width: auto;
  height: auto;
  @include desktop {
    display: none;
  }
}

.service-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

.service-icon {
  border: 1px solid white;
  width: 43vw;
  height: 36vw;
  border-radius: 17%;
  text-align: center;
  background-color: rgba(white, 0.5);
  padding: 20px;
  margin: 5px;
  display: flex;
  place-content: center;
  flex-direction: column;

  @include desktop {
    width: 19vw;
    height: 13vw;
  }
}

/// For kichen pictures to stretch (targetting individually)

.text-kitchen .kitchen_truck_hide {
  @include desktop {
    display: none;
  }
}

img.wp-image-269 {
  display: none;
  @include desktop {
    display: block;
    width: auto;
    height: auto;
  }
}
///
a.back-button {
  display: block;
  border: 3px solid white;
  border-radius: 50px;
  flex-direction: row;
  margin-left: 0;
  align-self: flex-end;
  margin-bottom: 0px;
}

.back-button:hover {
  cursor: pointer;
}

p.view-all {
  text-align: -webkit-center;
  margin: 0;
  padding: 8px 10px 8px 8px;

  @include desktop {
    width: 18vw;
  }
}

.meta-data-container {
  border: 1px solid white;
  color: purple;
  background: red;
  margin: 2rem;
}

.hidden {
  display: none;
}

.service-info-box {
  border: 1px solid grey;
  border-radius: 10%;
  width: 90vw;
  height: auto;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  contain: content;

  @include desktop {
    border-radius: 50px;
    width: 56vw;
  }
}

.event-information-wrap {
  padding: 5px 45px 0;
}
p.event-title-tab {
  font-weight: 500;
  font-size: 30px;
}

.ticket-rotate {
  -webkit-transition: -webkit-transform;
  -ms-transition: -ms-transform;
  transition: transform;
  color: #86a133;
  font-size: 16px;
}
.ticket-rotate {
  transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
}

i.fas.fa-map-marker-alt {
  color: #86a133;
  font-size: 16px;
}

a.link-more-information {
  color: black;
  text-decoration-line: none;
  font-size: 21px;
}

.event-information-btn {
  text-align-last: end;
  padding: 7px;
}

i.fas.fa-angle-double-right {
  margin-left: 5px;
  color: #86a133;
  font-size: 23px;
}

p.event-ticket-tab {
  font-size: 24px;
  font-weight: 700;
  color: gray;
}

p.event-address-tab {
  font-size: 24px;
  font-weight: 400;
}

p.desktop_text_kitchen {
  display: none;

  @include desktop {
    display: block;
  }
}

.kitchen {
  img {
    display: block;
    width: 100vw;
    height: 200px;
    object-fit: cover;
  }
  h2 {
    font-size: 25px;
    text-align-last: center;
    text-transform: uppercase;

    .wp-block-gallery {
      display: block;
    }
  }
}

.kitchen {
  padding: 0;
}

.farm-icon-container {
  @include desktop {
    display: none;
  }
}

.inqurie-wrap {
  border: 2px solid white;
  border-radius: 50px;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @include desktop {
    display: none;
  }
}

.wp-block-group .farming_desktop_barley_img {
  display: none;
  @include desktop {
    display: flex;
  }
}

.desktop_farming_para_second {
  display: none;
  @include desktop {
    display: block;
  }
}

.farming-content-container {
  @include desktop {
    max-width: 69%;
  }
}

p.inqurie-text {
  padding: 8px;
  margin: 0;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.more-button {
  @include desktop {
    display: none;
  }
}

.more-button:after {
  background-image: url('../../karakata/Icons/Readmore.svg');
  position: relative;
}

.farming-container {
  .inner-nav-container {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.15),
      hsla(0, 0%, 100%, 0.15) 100%,
      hsla(0, 0%, 75%, 0.4)
    );
  }
}

.farming-main p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;

  @include desktop {
    margin: 0;
    font-size: 14px;
  }
}

.wp-block-group.farming_desktop_container {
  @include desktop {
    display: flex;
    padding: 20px;
  }
}
.reserve-button {
  @include desktop {
    display: none;
  }
}
// kitchen style
.kara_kata_title--desktop {
  display: none;
  @include desktop {
    display: inline;
    font-size: 21px;
  }
}

.wp-block-group.group_desktop_kitchen {
  @include desktop {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 30px;
    padding: 20px;
    color: rgba(36, 36, 23, 0.9);
    padding: 10px 60px;
  }
}

.kitchen_desktop_paragraph {
  display: none;
  @include desktop {
    display: inline;
  }
}
.wp-block-group.farm-img-container {
  @include desktop {
    display: none;
  }
}

.text-kitchen .wp-block-group {
  margin-bottom: 40px;
}

.text-kitchen .mobile_title_only {
  @include desktop {
    display: none;
  }
}

.kitchen_titles.mobile_title_only {
  text-align: center;
}

.farming-content-container {
  h2 {
    text-transform: uppercase;
    font-size: 21px;
  }
}

a.wp-block-button__link.has-text-color {
  border: none;
}

.has-text-align-center {
  @include desktop {
    font-size: 20px;
    display: flex;
  }
}
.about_content--wrap {
  @include desktop {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 30px;
    padding: 20px;
    color: rgba(36, 36, 23, 0.9);
  }

  @include desktop {
    p {
      display: initial;
      line-height: 27px;
    }
  }
}
p.trigger-p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;
  margin: 20px 40px;
}

.desktop_farming_third_para {
  display: none;

  @include desktop {
    display: block;
  }
}
//// Sub-menu Bar
.farming-container {
  .about_nav--option ul li:nth-child(1) {
    @include nav-focused-avr;
  }
  .classes_nav--option ul li:nth-child(2) {
    @include nav-focused-avr;
  }
  .kitchen_nav--option ul li:nth-child(3) {
    @include nav-focused-avr;
  }
  .farming_nav--option ul li:nth-child(4) {
    @include nav-focused-avr;
  }

  @include desktop {
  }
}

.class_icon_container {
  img {
    width: 35%;
  }
}


.wp-block-group.group_desktop_kitchen{
  background: none;
  @include desktop{
  padding: 0 ;
  .wp-block-group__inner-container{
  display: inline-block;
  margin: 0;
}}}
.text-kitchen .wp-block-group__inner-container {
  .kitchen_desktop_only{
    display: none;
    @include desktop{
      display: inline-block;
    }
  }
  @include desktop {
    display: grid;
    grid-template-rows:1fr auto 1fr ;
    gap:30px;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 30px;
    color: rgba(36, 36, 23, 0.9);
    padding: 40px;
    h2{
      margin: 0;
      padding-left: 34px;
      text-align: center;
    }
    
  }
  .order-here{
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 600;
    padding: 10px 35px;
    grid-row: 3/-1;
    grid-column: 1/span 3;
    font-size: calc(.5rem + .5vw);
    height:fit-content;
    margin:0 auto;
  }

  figure {
    @include desktop {
      height: 15vw;
      width: 20vw;
      margin: 0px;
      grid-row:2/ 3 ;
      &:hover{
        transform: scale(1.1);
        transition: transform 1s ease;
      }
    }

    img {
      @include desktop {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 30px;
      }
    }
  }
}
.farming-content-container{
  .wp-block-group{
    @include desktop{
    margin: 0;
  }}
 .wp-block-group__inner-container {
  @include desktop {
    display: grid;
    grid-template-columns: 5fr 4fr;
    .wp-block-group__inner-container{
      display: block;
      text-align: left;
      padding-right: 20px;
      p{
        font-size: calc(.4rem + .5vw);
        text-align: left;
        padding:10px 0;
        font-weight: 400;
      }
    }
    figure{
      margin:10px;
      width: 25vw;
      height: 25vw;
    }
  }}}



.kitchen_stretch_image {
  margin: 0;

  img {
    width: 100vw;
  }
}
.wp-block-image.is-resized {
  display: none;
  @include desktop {
    display: flex;
  }
}
.order-here{
  display: none;
  @include desktop{
    display: inline-block;
  }
}

.text-kitchen {
  @include desktop {
    padding: 0px 100px 0 100px;
  }

  .kitchen_stretch_image {
    @include desktop {
      margin: 0;
    }
  }
  p {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
    padding: 0 20px 0 20px;

    @include desktop {
      font-size: 14px;
      text-align: inherit;
    }
  }
}

.menu-african-retreat-container {
  width: 100%;
  height: 100%;
}

.farming__content {
  @include desktop {
    display: flex;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 30px;
    padding: 20px;
    color: rgba(36, 36, 23, 0.9);
  }
}

.wp-block-button.farming_res_btn.reserve-button.is-style-outline {
  @include desktop {
    display: none;
  }
}
.farming_desktop_container {
  text-align: -webkit-center;
  margin: 0 40px 0 40px;
}

/// about page

h2.about_title_afr {
  display: none;
  @include desktop {
    display: block;
  }
}
