.about-content-container {
  background: $color_theme_green_gradient;
  color: WHITESMOKE; /// for text color

  .intro-title {
    margin: 0;
  }
}
.avr-main {
  .inner-nav {
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.15),
      hsla(0, 0%, 100%, 0.15) 90%,
      hsla(0, 0%, 100%, 0.4)
    );
    border-radius: 30px;
    height: 13vw;
    @include submenu;

    @include desktop {
      display: none;
    }

    p {
      color: white;
    }
    ul {
      margin: 0 30px;
      padding: 0;
    }
  }

  .menu-african-retreat-container {
    padding-right: 6.5vw;
    padding-top: 4vw;
    align-items: center;
    justify-content: flex-end;
    margin-left: 5%;
    border-radius: 9.4vw 0 0 9.4vw;
    height: 13vw;
    @include submenu;
  }
}

.about-content {
  margin-top: 50px;
  padding: 0 20px 0 20px;
  position: relative;
  padding-bottom: 50px;

  @include desktop {
    padding: 0 120px;
    line-height: 1;
    font-size: 16px;
    margin-top: 0px;
  }

  p {
    padding: 5px 29px 5px 29px;
    font-size: 15px;
    font-weight: 300;

    @include desktop {
      padding: 0;
    }
  }
}

/////// CLASSES PAGE
.services-provided {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}

.haha123 {
  position: absolute;
  top: 0;
  left: 0;
}
img.wp-image-232 {
  width: auto;
  height: auto;
}
.service-icon {
  border: 1px solid white;
  width: 43vw;
  height: 34vh;
  border-radius: 17%;
  text-align: center;
  padding: 10px;
  background-color: rgba(white, 0.5);
  padding: 20px;

  p {
    margin: 0;
  }
}

p.section-tag {
  padding: 15px;
}

p.view-all {
  text-align: -webkit-center;
}

a.back-button {
  display: block;
  border: 3px solid white;
  border-radius: 30%;
  flex-direction: row;
  margin-left: 0;
  margin-right: 35px;
  align-self: flex-end;
  margin-bottom: 0px;
}

p.view-all {
  text-align: -webkit-center;
  margin: 0;
  padding: 8px 10px 8px 8px;
}

.meta-data-container {
  border: 1px solid white;
  color: purple;
  background: red;
  margin: 2rem;
}

.hidden {
  display: none;
}

.service-info-box {
  border: 1px solid grey;
  border-radius: 10%;
  width: 445px;
  height: auto;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  contain: content;
}

.event-information-wrap {
  padding: 5px 45px 0;
}
p.event-title-tab {
  font-weight: 500;
  font-size: 30px;
}

.ticket-rotate {
  -webkit-transition: -webkit-transform;
  -ms-transition: -ms-transform;
  transition: transform;
  color: #86a133;
  font-size: 16px;
}
.ticket-rotate {
  transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
}

i.fas.fa-map-marker-alt {
  color: #86a133;
  font-size: 16px;
}

a.link-more-information {
  color: black;
  text-decoration-line: none;
}

.event-information-btn {
  text-align-last: end;
  padding: 7px;
}

i.fas.fa-angle-double-right {
  margin-left: 5px;
  color: #86a133;
  font-size: 23px;
}

p.event-ticket-tab {
  font-size: 24px;
  font-weight: 700;
  color: gray;
}

p.event-address-tab {
  font-size: 24px;
  font-weight: 400;
}

.kitchen {
  img {
    display: block;
    width: 100vw;
    height: 200px;
    object-fit: cover;
  }
  h2 {
    font-size: 25px;
    text-align-last: center;
    text-transform: uppercase;

    .wp-block-gallery {
      display: block;
    }
  }
}

.kitchen {
  padding: 0;
}

.inqurie-wrap {
  border: 2px solid white;
  border-radius: 50px;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

p.inqurie-text {
  padding: 8px;
  margin: 0;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.more-button:after {
  background-image: url('../../karakata/Icons/Readmore.svg');
  position: relative;
}

.farming-container {
  padding-bottom: 50px;
  .menu-african-retreat-container {
    padding-top: 3vw;
  }
}

// for kitchen first picture

img.wp-image-245 {
  width: auto;
  height: auto;
}

.wp-block-button.reserve-button.is-style-outline {
  text-align: center;
}

.kitchen_nav--option {
  p {
    padding: 0px 20px 0px 20px;
  }
}

.farming-main p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;
}

.farming-content-container {
  h2 {
    text-transform: uppercase;
  }
}

a.wp-block-button__link.has-text-color {
  border: none;
}

.about_content--wrap {
  @include desktop {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 80px;
    padding: 20px;
    color: rgba(36, 36, 23, 0.9);
  }

  @include desktop {
    p {
      display: initial;
      line-height: 27px;
    }
  }
}
p.trigger-p {
  text-align: -webkit-center;
  font-size: 15px;
  font-weight: 300;
}
//// Sub-menu Bar
.farming-container {
  .about_nav--option ul li:nth-child(1) {
    @include nav-focused;
  }
  .classes_nav--option ul li:nth-child(2) {
    @include nav-focused;
  }
  .kitchen_nav--option ul li:nth-child(3) {
    @include nav-focused;
  }
  .farming_nav--option ul li:nth-child(4) {
    @include nav-focused;
  }
  ul li:nth-child(5) {
    @include nav-focused;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
