
.karakata-logo {
    display: none;
}
.mobile-nav{
    color:white;
}
.hamburger{
    z-index: 9;
    font-size: 8vw;
    width: fit-content;
    padding: 6vw 6vw;
    transform:rotate(0deg);
    transition: transform 1.6s ease-out;
    &:hover{
        cursor: pointer;
    }
}
.hamburger-open{
    transform:rotate(360deg);
}

.slide-menu{
    min-height: 100vh;
    z-index: 10;
    padding: 0;
    position: fixed;
    top: 0;
    right: 110vw;
    width:70vw;
    text-align: center;
    transition: right 1.3s ease;
    background: rgb(22, 22, 22);
    ul{
         margin:0 auto;
         padding: 0;
        list-style: none;
        text-align: center;
        li{
            margin:5%;
            a{
            text-decoration: none;
            } 
        }
    }
}
.slide-open{
    right:30vw;
}
.slide-logo{
    width: 25% ;
    margin:0 auto;
    margin-bottom: 3vw;
    img{
        margin:0;
        width: 100%;
    }
}
.social-media{
    position: fixed ;
    bottom: 0;
    width:70vw;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15.5vw;
    padding-bottom: 9vh;
    margin: 3vw auto;
}
.close-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    i{
        text-decoration: none;
        font-size: 15.5vw;
        padding: 0 6vw;
        transform: translateY(10px);
    }
}