@mixin tablet {
    @media screen and (min-width:600px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: 700px) {
      @content;
    }
  }
html{
    width:100vw;
}
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.karakata{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.front-logo{
    width: 250px;
    margin: 30px;
}
.first{
    background-color: white;
    z-index: 5;

}
.second{
    background-color: black;
    padding: 20px;
    z-index: 4;

}
.in-position{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
    @include desktop{
    z-index: 4;
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0);
    width: 150px;
    height: 80px;
    top:0px;
    left: 0px;
    transition:all 1s 1.2s ease, background-color 1.5s ease-out ;
}}
.start-button{
    color: black;
    box-shadow: none;
    font-weight: bolder;
    border: 2px black solid;
    border-radius: 50px;
    padding: 10px 30px;
    &:hover{
    cursor: pointer;
    }
    
}






.home-headings{
    text-align: center;
    
}
.front-page-main{

    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;

}
.front-scroll{
    color:white;
    scroll-snap-align: start;
    box-sizing: border-box;
    padding: 50px;
    min-height: 100vh;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    @include desktop{
        font-size: 20px;
        padding: 80px;
    }
    .header-image{
        widows: 100px;
        padding: 12px;


    }
    p{
        text-align:center;
    }
    ul{
        margin:0;
        padding: 0;
        text-align: left;
        list-style: none;
        li{
            padding: 10px 0;
            &:before {    
                font-family:'Font Awesome 5 free';
                font-weight: normal;
                content: '\f185';
                text-shadow:none;
                color: rgba(0, 0, 0, 0);
                background-image: url(christmas-star.png);
                background-size: contain;
                margin:0 5px 0 -15px;
                
        }}
    }
}

.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }
.welcome{
    background-image:linear-gradient(90deg, rgba(black,.2),rgba(black,.2),rgba(black,.2)), url(home.jpg);
    background-size: cover;
    background-position:center;
}
.front-scroll{
    &:nth-child(2n) {
    background-color: rgba(204, 149, 60, 0.856);
    }
    &:nth-child(2n + 1) {
        background-color: rgba(180, 95, 56, 0.787);
      }
}
.front-page-main{
    background-image: url(desktop-bg.JPEG);
    background-size: 150vw auto;
    background-position: center;
}
.main-carousel{
    width:100vw;
    height: auto;
}
.carousel-cell{
    transform: scale(0.9);
    width: 70vw;
    padding-bottom: 50px;
    filter: contrast(0.6);
    @include desktop{
        width: 50vw;
    }
  img{
      
      transform: translateX(35%);
      border-radius: 10px;
      margin: 0 auto;
      width:60vw;
      box-shadow:  0 20px 30px rgba(0, 0, 0, 0.404);
      height: auto;
      @include desktop{
        transform: translateX(75%);
          width: 40vw;
      }
  }
}
.is-selected{
    filter: contrast(1);
    left:0;
    transition: all 1s ease;
    transform: scale(1);
  }
  .nav-dots{
    float: right;
    position:fixed;
    top:40%;
    color: rgba(255, 255, 255, 0.541);
    font-size: 30px;
    font-weight: bolder;
    right:10px;
    line-height: 25px;
    width:fit-content;
    background: none;
    z-index: 2;
    height: 30vh;
    list-style: none;
    @include desktop{
        right:30px;
    }
    a{
        text-decoration: none;
        padding: 0;
        float: right;
        opacity: .6;
        &:hover{
            opacity: 1;
            font-weight: bolder;

            transition: all .4s ease;
        }
    }
  }

#arrow-down{
    height: fit-content;
    z-index:3;
    position:fixed;
    font-size: 30px;
    color: white;
    bottom:3%;
    left:48%;
    transform: rotate(360deg);
    background-color: rgba(0, 0, 0, 0.034);    
    transition: all .7s ease;
    &:hover{
        cursor: pointer;
    }
}
#arrow-down.arrow-up{
    transform: rotate(180deg);
}
.flickity-page-dots{
    display:none;
}

.front-scroll .flickity-prev-next-button.next{
    right:10%;
}
.front-scroll .flickity-prev-next-button.previous{
    left:10%;
}
.front-scroll .flickity-prev-next-button{
    z-index: 3;
    color:wheat;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    transition: background-color .6s ease;
}
#selected-page{
    margin-right: -2px ;
    font-size: 20px;
    font-weight: 300;

}