.events-container{
    min-width: 100vh;
    
}
.entry-event{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    @include desktop{
        
    }

    .event{
        background-color: white;
        width:90%;
        margin: auto;
        margin-bottom: 50px;
        height: fit-content;
        position: relative;
        border-radius: 50px ;
        @include desktop{
            width: 25%;
        }
    }
}
.events-title{
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2em 0 7vw;
    margin: 0;
    font-size: 4vw;
    color: #f5f5f5;
    @include desktop{
<<<<<<< Updated upstream
        display: none;
=======
     display: none;   
>>>>>>> Stashed changes
    }
}
.events-main{
    background-image: url('../../Icons/events_BG.png');
    background-size: 300vh;
    background-position-y:-200px;
    background-position-x:center;
    background-attachment: fixed;
    background-color: rgb(68, 55, 43);
    min-height: 100vh;
    height: fit-content;
    padding:0 6vw;
    width: 100vw;
    padding-bottom: 90px;
    @include desktop{
        margin-top: -80px;
        padding-top:150px ;
    }
}
.event-content{
    height: max-content;
}
.events-heading{
    @include desktop{
    font-size: 40px;

    }
    font-size: 3vw;
    text-align: center;
    line-height: 35px;
    margin:40px 15% ;
    color: white;
    p{
        margin: 3vw 0;
    }
}
.events-container{
    width: fit-content;
    margin: 50px;

    
}

.find-out{
    text-align: center;
    font-weight: bold;
    padding: 3% 20px;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    text-decoration: none;
    grid-column: 1 /-1;
    margin:10px 25px 5% ;
    &:hover{
        background-color: black;
        color: white;
        transition: all .6s ease;
    }

}
.event-info{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 25% 25%;
    margin: 10px;
}
.date{
    font-weight: bolder;
    color: rgb(223, 120, 61);
    grid-column: 1 /2;
    grid-row: 1/-1;
    text-align: center;
    margin: 0 20px;
}
.event-address{
    margin: 0;
    font-size: 12px;
    grid-column:2/-1 ;
    grid-row: 2/-1;
    i.fas.fa-map-marker-alt{
        color: rgb(223, 120, 61)!important;
        font-size: 17px;
        margin:0 7px;
    }
}
p.event-address{
    color: rgba(0, 0, 0, 0.705);
}
.event-title{
    margin: 0;
    font-size: 15px;
    grid-column: 2/-1;
    grid-row: 1/2;
}
.price{
    font-weight: bolder;
    position: absolute;
    background-color: white;
    padding: 5px 13px;
    border-radius: 20px;
    top:25px;
    left:25px;
}
.event-image{
    width: 100%;
    perspective: 1px; 
    overflow: hidden;
    border-radius: 50px 50px 0px 0px;
    img{
        width: 100%;
    }
}
