
html{
    scroll-behavior: smooth;
}
#main.contact-main{
    background-image: linear-gradient(180deg,rgb(0, 0, 0),rgb(102, 0, 17));
    min-height: 120vh;
    color: white;
    width: 100vw;
    padding: 60px 30px;
    padding-top: 15vw;
    margin-top: -50px;
    p{
        margin:9px;
    }
    @include desktop{
    background-image: linear-gradient(180deg,rgb(0, 0, 0),#857b76);
    display: grid;

    grid-template-columns: 1.2fr 1fr;
    }
}
.contact-content{
    font-size: 12px;
    @include desktop{
        padding-right: 30px;
        grid-column: 2/ -1;
        line-height: 2.1;
        font-size: 1rem;
        margin-top: 10px;
        h2{
            padding-left: 0;
            font-size: 35px;
            padding-right:30px;
            
        }
    }
    h2{
    padding-left: 9px;
    }
}
.contact-logo{
    width: 100%;
    text-align: center;
    img{
        
        width:150px;
    }
    @include desktop{
        display: none;
    }

}
.message{
    height:100px;
}
.contact-form{
    width:100%;
    padding: 30px 9px;
    display: flex;
    flex-direction: column;
    color: white;
    height: fit-content;
    font-weight: bold;
    input{
        color: white;
        margin:12px 0 ;
        font-weight: lighter;
        width:100%;
        border: 2px solid white;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        &:focus {  
            color: #fff; 
        }
    }
    textarea{
        color: white;
        font-weight: lighter;
        width:100%;
        margin-top: 12px;
        border: 2px solid white;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;        
    }
    label{

        font-size: 12px;
        font-weight: normal;
        @include desktop{
            color: rgba(0, 0, 0, 0.767);
        }
    }
    @include desktop{
        grid-column: 1/  2;
        grid-row: 1/2;
        padding: 60px;
        padding-top: 100px ;
        margin: 30px 60px;
        width: unset;
        border-radius:50px ;
        background-color: white;
        color: rgba(0, 0, 0, 0.466);
        input{
            margin-top:30px;
            margin-bottom: 0;
            border: none;
            color: rgba(0, 0, 0, 0.466);
            border-bottom: 1px solid rgba(0, 0, 0, 0.466);
 
        }
        textarea{
            margin:0;
            color: rgba(0, 0, 0, 0.466);
            height: 50px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.466);
         
        }
    }
    
}
input.send-email{
    margin: 30px 0 0;
    margin-left: 51%;
    font-weight: 300;
    transform: translateX(-50%);
    padding:12px 35px;
    border: 2px white solid;
    border-radius: 50px;
    width: fit-content;
    color: white;
    @include desktop{
        color: rgba(0, 0, 0, 0.466);
    border: 2px rgba(0, 0, 0, 0.466) solid;
    padding:12px 60px ;

    }
    &:hover{
        box-shadow: none;

    }
}
.contact-ad{
    font-size: 12px;
    @include desktop{
        display: none;
    }
}
.contact-map{
    height: 300px;
    width: 100%;
}
.contact-address{
    padding: 0 10px;
    margin: 20px auto;
    text-align: center;
    color: white;
    i.fas.fa-map-marker-alt{  
        color: white;
        padding: 0 10px;
    }
}
.mail-result{
    font-weight: lighter;
    font-size: 13px;
    color: rgb(255, 49, 49);
    .submited{
        color: rgb(102, 255, 102);
        visibility: hidden;
        transition: visibility 4s ease;
    }
}
.desktop-contact{
    background-color: white;
    a{
    font-weight: bold;
    color: black;
}}