//global

header {
    height: 0vh;
}

p, h1, h2, h3, h4, a, span {
    font-family: $font__main;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.intro-title {
    display: flex;
    justify-content: center;
    padding: 6vw 0 4vw;
    font-size: 4vw;
    color: whitesmoke;
}


.main-content-container {
    @include flex-c;
    min-height: 100vh;
    background: $color__theme_magenta;
    background: $color__theme_magenta_gradient;
    font-size: 5vw;
}

.inner-nav {
    width: 100%;

    .inner-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(90deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,.15) 90%,hsla(0,0%,100%,.4));
    margin-left: 5%;
    border-radius: 9.4vw 0 0 9.4vw;
    height: 13vw;
    @include submenu;
    }

    .song-nav ul li:nth-child(1){
        background-color: lightgray;
        padding: 3vw 5vw;
    }
    .about-nav ul li:nth-child(2){
        background-color: lightgray;
        padding: 3vw 5vw;
    }
    .videos-nav ul li:nth-child(3){
        background-color: lightgray;
        padding: 3vw 5vw;
    }
    .gallery-nav ul li:nth-child(4){
        background-color: lightgray;
        padding: 3vw 5vw;
    }
    .shows-nav ul li:nth-child(5){
        background-color: lightgray;
        padding: 3vw 5vw;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.inner-nav-container {
    display: flex;
}

//music/video

.music-video-main .music-content-container {
    @include flex-c;
    max-width: 100%;

    figure {
        width: 100%;
        margin: 20vw 0rem 20vw 0rem;

        iframe {
            min-width: 100vw;
            height: 95vw;
        }
    }
}

.menu-music-container {
    width: 90%;
    height: 100%;

    ul {
        height: 100%;

        li {
            margin: auto 0px;
        }
    }
}

.music-content-container {
    max-width: 90%;

    p {
        font-family: $font__main;
        font-size: 3.5vw;
        color: whitesmoke;
        margin: 0rem 7.5vw 5vw 7.5vw;
        line-height: 10vw;
    }
}

.music-main {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.songs-main-container {
    padding-bottom: 45vw;
}

//music/gallery

.gallery-grid {
    display: flex;
    margin-top: 15vw;
    flex-direction: row;
    flex-wrap: wrap;

    figure {
        margin: 1vw;
        width: 43vw;
        height: 43vw;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .fullscreen {
        width: 88vw;
        height: 88vw;
        object-fit: cover;
    }
}


//music/shows

.music-shows-main {
    h2 {
        display: none;
    }
}

//music/songs audio player test

.media-player {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 45vw;
    bottom: 0px;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;

    .player-title {
        color: white;
    }

    .player-controls {
        display:flex;

        .controls {
            margin: 5vw;
            width: 15vw;
            height: 15vw;

            img {
                width: 100%;
            }
        }
    }   
}

.play-container {
    background-image: url(../../Icons/Play.svg);
    background-size: contain;
    background-position: center;
}
.pause-container {
    background-image: url(../../Icons/Play.svg);
    background-size: contain;
    background-position: center;
}
.stop-container {
    background-image: url(../../Icons/Pause.svg);
    background-size: contain;
    background-position: center;
}

.song-list {
    color: white;
}

.playicon {
    margin: 5vw;

    img {
        width: 5vw;
        height: 5vw;
        margin-right: 10vw;
    }
}

// shows

.music-event-content-container {
    width: 90%;
}

.event-content-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.event-content-info {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .info {
        margin: 4vw 0;
        font-size: 5vw;    
    }
}

.event-address {
    color: lightgrey;

    span {
        margin-right: 5vw;

        img {
            width: 4vw;
            height: 5vw;
        }
    }
}

.event-date-container{
    @include flex-c;
    justify-content: center;
    width: 80%;

    .event-date {
        font-size: 7vw;
        text-align: center;
        color: $color__text_orange;
    }
}

.event-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 80vw;
    margin: 9vw 0rem;
    border-radius: 5vw;
    background-color: white;
    overflow: hidden;

    .event-img-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .event-price-container {
            display: flex;
            flex-direction: column;
            width: 15vw;
            padding: 1vw;
            margin: 5vw;
            text-align: center;
            background-color: white;
            border-radius: 5vw;
            font-size: 4vw;
        }
    }
}

.event-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border: 1px solid #000;
    border-radius: 5vw;
    width: 90%;
    height: 9vw;
    margin: 0 auto;
    font-size: 4vw;
}

//farming page

.farming-container {
    @include flex-c;
    min-height: 100vh;
    font-size: 5vw;
    background: $color_theme_green_gradient;
    color: WHITESMOKE;
}

.farming-content-container {
    max-width: 90%;
}



.farming-main {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        margin: 0px;
    }

    .more-button a {
        border: 0px;
        padding: 0px;
    }

    .farm-img-container {
        margin-top: 15vw;

    .wp-block-group__inner-container {
            display: flex;
            flex-wrap: nowrap;
            max-width: 100vw;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            figure {
                flex: 0 0 auto;
                width: 50vw;
                height: 50vw;
                margin: 2.5vw;
                border-radius: 10vw;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.farm-icon-container {
    margin: 10vw 0vw;

    .wp-block-group__inner-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.farm-icon-inner-container .wp-block-group__inner-container {
    @include flex-c;

    .wp-block-group {
        width: 25vw;
        height: 25vw;

        .wp-block-group__inner-container {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

.yurt .wp-block-group__inner-container {
    background-image: url('../../Icons/Yurts.svg');
}

.greenhouse .wp-block-group__inner-container {
    background-image: url('../../Icons/Greenhouse.svg');
}

.host .wp-block-group__inner-container {
    background-image: url('../../Icons/Events.svg');
}

.hiking .wp-block-group__inner-container {
    background-image: url('../../Icons/Hiking.svg');
}

.cooking .wp-block-group__inner-container {
    background-image: url('../../Icons/African\ Cooking.svg');
}

.drum .wp-block-group__inner-container {
    background-image: url('../../Icons/Drums_White.svg');
}

.farming-main {
    .reserve-button {
        width: 80%;
        margin: 0px auto;
        padding: 0px;
        border: 1px solid white;
        border-radius: 10vw;
        
        a {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            border: 0px;
            font-size: 3vw;
        }
    }
}