//global

header {
    height: 0vh;
}

p, h1, h2, h3, h4, a, span {
    font-family: $font__main;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.intro-title {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem 2rem 0rem;
    font-size: 1.2rem;
    color: whitesmoke;
}


.main-content-container {
    @include flex-c;
    min-height: 100vh;
    background: $color__theme_magenta;
    background: $color__theme_magenta_gradient;
}

.inner-nav {
    width: 100%;

    .inner-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(90deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,.15) 90%,hsla(0,0%,100%,.4));
    margin-left: 5%;
    border-radius: 30px 0 0 30px;
    height: 13vw;
    @include submenu;
    }
}

.inner-nav-container {
    display: flex;
}

//music/video

.music-video-main .music-content-container {
    @include flex-c;
    max-width: 100%;

    figure {
        width: 100%;
        margin: 4rem 0rem 4rem 0rem;
    }
}

.menu-music-container {
    width: 90%;
}

.music-content-container {
    max-width: 90%;

    p {
        font-family: $font__main;
        color: whitesmoke;
        margin: 0rem 1.5rem 1rem 1.5rem;
        line-height: 2rem;
    }
}

.music-main {
    background-position: center;
}

//music/gallery

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;

    figure {
        margin: .2rem;
        width: 10rem;
        height: 10rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//music/shows

.music-shows-main {
    h2 {
        display: none;
    }
}

//music/songs audio player test

.media-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 25vh;

    .player-title {
        color: white;
    }

    .player-controls {
        display:flex;

        .controls {
            margin: 1rem;
            width: 3rem;
            height: 3rem;
        }
    }   
}

.play-container {
    background-image: url(../../Icons/Play.svg);
    background-size: contain;
    background-position: center;
}
.pause-container {
    background-image: url(../../Icons/Play.svg);
    background-size: contain;
    background-position: center;
}
.stop-container {
    background-image: url(../../Icons/Pause.svg);
    background-size: contain;
    background-position: center;
}

.song-list {
    color: white;
}

.playicon {
    margin: 1rem;

    img {
        width: 1rem;
        height: 1rem;
        margin-right: 2rem;
    }
}

// shows

.music-event-content-container {
    width: 90%;
}

.event-content-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.event-content-info {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .info {
        margin: 1rem 0rem;
        font-size: 1.1rem;
    }
}

.event-address {
    color: lightgrey;

    span {
        margin-right: 1rem;

        img {
            width: 1rem;
            height: 1rem;
        }
    }
}

.event-date-container{
    @include flex-c;
    justify-content: center;
    width: 80%;

    .event-date {
        font-size: 1.5rem;
        text-align: center;
        color: $color__text_orange;
    }
}

.event-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 80vw;
    margin: 2rem 0rem;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;

    .event-img-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .event-price-container {
            display: flex;
            flex-direction: column;
            width: 12vw;
            margin: 1rem;
            text-align: center;
            background-color: white;
            border-radius: 1rem;
        }
    }
}

.event-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border: 1px solid #000;
    border-radius: 1rem;
    width: 90%;
    height: 2rem;
    margin: 0rem auto;
}