//global

header {
    height: 0vh;
}

p, h1, h2, h3, h4, a, span {
    font-family: $font__main;
}

.intro-title {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem 2rem 0rem;
    font-size: 1.2rem;
    color: whitesmoke;
}


.main-content-container {
    @include flex-c;
    min-height: 100vh;
    background: $color__theme_magenta;
    background: $color__theme_magenta_gradient;
}

.inner-nav {
    width: 100%;

    .inner-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(90deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,.15) 90%,hsla(0,0%,100%,.4));
    margin-left: 5%;
    border-radius: 30px 0 0 30px;
    height: 13vw;
    @include submenu;
    }
}

.inner-nav-container {
    display: flex;
}

//music/video

.music-video-main .music-content-container {
    @include flex-c;
    max-width: 100%;

    figure {
        width: 100%;
        margin: 4rem 0rem 4rem 0rem;
    }
}

.menu-music-container {
    width: 90%;
}

.music-content-container {
    max-width: 80%;

    p {
        font-family: $font__main;
        color: whitesmoke;
    }
}

.music-main {
    background-position: center;
}

//music/gallery

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;

    figure {
        margin: .2rem;
        width: 10rem;
        height: 10rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//music/shows

.music-shows-main {
    h2 {
        display: none;
    }
}

//music/songs audio player test

.media-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 25vh;

    .player-title {
        color: white;
    }

    .player-controls {
        display:flex;

        .controls {
            margin: 1rem;
            width: 3rem;
            height: 3rem;
        }
    }   
}

.play-container {
    background-image: url(../../Icons/Play.svg);
    background-size: contain;
    background-position: center;
}
.pause-container {
    background-image: url(../../Icons/Play.svg);
    background-size: contain;
    background-position: center;
}
.stop-container {
    background-image: url(../../Icons/Pause.svg);
    background-size: contain;
    background-position: center;
}

.song-list {
    color: white;
}